<main>
    <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="">
        </div>
        <div class="form-control">
            <label for="repeatPassword">Repeat Password</label>
            <input type="password" name="repeatPassword" id="repeatPassword" value="">
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
            <input type="hidden" value="{{userId}}" name="userId">
            <input type="hidden" value="{{passwordToken}}" name="passwordToken">
        </div>
          <button class="btn" type="submit">Update Password</button>
    </form>
</main>