<main>
    <form class="login-form" action="/signup" method="POST" novalidate>
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{oldInput.email}}">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="{{oldInput.password}}">
        </div>
        <div class="form-control">
            <label for="repeatPassword">Repeat Password</label>
            <input type="password" name="repeatPassword" id="repeatPassword" value="{{oldInput.repeatPassword}}">
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
        </div>
          <button class="btn" type="submit">Signup</button>
    </form>
</main>