<main>
    {{#if hasProducts }}
        <div class="cart">
          <ul>
            {{#each products}}
            <li class="cart-item card">
              <p><b>{{ this.title }}</b></p>
              <p>Quantity: <i>{{ this.quantity }}</i></p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="productID" value="{{this._id}}">
                <button class="btn red" type="submit">Delete</button>
              </form>
            </li>     
            {{/each}}
          </ul>
        <div class="centered">
          <form action="/create-order" method="POST">
            <button class="btn">Order Now</button>
          </form>
        </div>
      </div>
    {{else}}
    <h1>No content</h1>
    {{/if}}
</main>