<main>
    {{#if isOrderExists }}
        <div class="orders">
          <ul>
            {{#each orders}}
            <li class="order-item card">
              <p><b>{{ this.id }}</b></p>
              <ul>
                {{#each this.products}}
                  <li>
                    <p>Name: <b>{{this.title}}</b>  
                      <span>Quantity: <b>{{this.orderItem.quantity}}</b></span>
                    </p>
                  </li>
                {{/each}}
              </ul>
            </li>     
            {{/each}}
          </ul>
      </div>
    {{else}}
    <h1>No Orders</h1>
    {{/if}}
</main>